#map {
  width: 100% !important;
  height: 100vh !important;
  background-color: #F6F6F4;
}

.btn-regresar {
  position: fixed;
  top: 15px;
  right: 12px;
  font-size: 23px !important;
  color: var(--ion-color-primary) !important;
}