<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="clearHistory()">
        <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Historial
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="sendMail()" color="primary">
        <ion-icon name="send" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item detail *ngFor="let registro of historialReg" (click)="openRegistro(registro)">
      <ion-icon slot="start" color="primary" [name]="registro.icon"></ion-icon>
      <ion-label>
        <h2>{{ registro.text }}</h2>
        <p>{{ registro.created | date:'dd/MM/yyyy hh:mm:ss'}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
